<header class="header">
    <a href="#" class="nav_logo_link">
      <!-- <img class="nav_logo_img" src="img/logo-01.png" alt=""> -->
      <img class="nav_logo_img" src="../../img/333.png" alt="" />
      <!-- <img class="nav_logo_img" src="gif/visiongiuf.gif" alt=""> -->
    </a>

    <div class="hamb" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="navbar">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Portfolio</a></li>
      <button class="button">Review</button>
    </nav>
  </header>
  <!-- this navbar is for mobile  -->
  <nav class="mobile_nav" id="menu-list">
    <div class="remove_icon">
      <i class="ri-close-line" id="close-menu"></i>
    </div>
    <div class="nav_main">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Review</a></li>
    </div>
  </nav>
  
